[Unit]
Description=example-unit
After=network.target postgresql.service

[Service]
Slice=machine.slice
ExecStart=/usr/bin/rkt run \
  --volume config,kind=host,source=/opt/example/config \
  --volume logs,kind=host,source=/opt/example/logs \
  --volume run,kind=host,source=/opt/example/run \
  --volume pg-run,kind=host,source=/var/run/postgresql \
  --net=host \
  --insecure-options=image \
  /opt/example/example-latest-ubuntu-amd64.aci
KillMode=mixed
Restart=always

